<h3>
    {{title_empleado}}
</h3>


<hr>

<h3>Selector de colores - Two way data binding</h3>

<button (click)="logColorSeleccionado()">Log Color</button>
<input type="text" [(ngModel)]="color_seleccionado">

<pre [style.border]="color_seleccionado == 'red' ? '3px solid black' : '3px solid green'"
     [ngClass]="{
         fondoAzul: color_seleccionado == 'blue',
         fondoVerde: color_seleccionado == 'green',
         letraGrande: 1 == 1
     }"
>
<strong>Color elegido</strong>
{{color_seleccionado}}
</pre>

<div [ngStyle]="{
    'background-color':color_seleccionado,
    'width': '200px',
    'height': '200px',
    'float': 'right'}" >
</div>

<div style="clear:both">

</div>

<hr>

<h3>Colores switch</h3>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        'background-color':color, 
        'color': 'white',
        'padding': '20px'}">
        Es de color rojo
    </li>
    <li *ngSwitchCase="'green'" [ngStyle]="{
        'background-color':color, 
        'color': 'white',
        'padding': '20px'}">
        Es de color verde
    </li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{
        'background-color':color, 
        'color': 'white',
        'padding': '20px'}">
        Es de color azul
    </li>
</ul>

<hr>

<strong>Empleado</strong>
<br><br>
<div *ngIf="trabajador_externo == true">
        <button (click)="cambiarExterno(false)">Mostrar Empleado</button>
        <ul>
            <li>{{trabajadores[0].nombre}}</li>
            <li>{{trabajadores[0].edad}}</li>
            <li>{{trabajadores[0].cargo}}</li>
            <li *ngIf="trabajadores[0].contratado == true">Esta contratado</li>
            <li *ngIf="trabajadores[0].contratado == false">No Esta contratado</li>
        </ul>
</div>


<div *ngIf="trabajador_externo == false">
        <button (click)="cambiarExterno(true)">Mostrar Trabajador</button>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false">No Esta contratado</li>
        </ul>
</div>

<hr>

<h3>Lista de trabajadores</h3>

<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i + 1}}:</strong>  
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false">No Esta contratado</li>
        </ul>
    </li>
</ul>

