
<h4>Propiedades Input en Angular</h4>
<p>Datos provenientes del componente plantillas y se pasa al componenete hijo</p>
<componente-hijo
[texto1]="dato_externo"
[texto2]="identity"
(desde_el_hijo)="recibirDatos($event)"
>

</componente-hijo>


<div *ngIf="datos_del_hijo">
        <p>Datos provenientes del componenete hijo al componenete padre</p>
        <h1>{{datos_del_hijo.nombre}}</h1>
        <h1>{{datos_del_hijo.edad}}</h1>
        <h1>{{datos_del_hijo.sexo}}</h1>

</div>

<hr>

<h4>
    {{titulo}}
</h4>

<div *ngIf="administrador; then admin else noAdmin">
</div>

<ng-template #admin>
        <button (click)="cambiar(false)">Cambiar</button>
        <strong style="background: yellow">Eres el admin</strong>
</ng-template>

<ng-template #noAdmin>
        <button (click)="cambiar(true)">Cambiar</button>
        <strong style="background: red; color: white">NO eres el admin</strong>
</ng-template>

