<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Bienvenido to {{ title }}!
  </h1>

  <hr>
  <nav>
    <a [routerLink]="['home']" [routerLinkActive]="['activado']" href="">Home</a>
    <a [routerLink]="['fruta']" [routerLinkActive]="['activado']" href="">Frutas</a>
    <a [routerLink]="['empleado']" [routerLinkActive]="['activado']" href="">Empleado</a>
    <a [routerLink]="['contacto']" [routerLinkActive]="['activado']" href="">Contacto</a>
  </nav>
  <!--
    <fruta></fruta>
  -->

  <hr>

  <!--<empleado></empleado> -->

  <router-outlet>

  </router-outlet>
</div>


