<div *ngIf="!producto">
    <p>Cargando producto...</p>
</div>

<div *ngIf="producto">
    <div class="col-lg-4" *ngIf="producto.imagen">
            <br>
            <img class="producto_imagen" src="http://localhost/angular/cursoangular4-backend/uploads/{{producto.imagen}}" alt="">
    </div>
    <div class="col-lg-8">
            <h3>{{producto.nombre}}</h3>
            
            <p><strong>{{producto.precio}}</strong></p>
            <p>{{producto.description}}</p>
    </div>
   
</div>

