
.bordeAzul {
    border: 3px solid lightblue !important;
}

.fondoAzul {
    background-color: lightblue !important;
}

.fondoVerde {
    background-color: lightgreen !important;
}

.letraGrande {
    font-size: 40px;
}

.activado {
    font-weight: bold;
    background: yellow;
}